/* Colors */

/* #CDCFC0
#423F32
#F1EBE5
#000000 */

body {
  margin: 0;
  height: 100vh;
  background-color: #cdcfc0;
  font-family: "Ysabeau", sans-serif;
}

#navbar {
  background-color: #cdcfc0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
}
/* MEAL PLAN */
.mealPlanTitle {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
}
.mealPlanTitle div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mealPlanTitle h1,
.mealPlanTitle h4 {
  margin: 0;
}
.mealPlanImg {
  height: 150px;
}
.mealPlanImg img {
  height: 100%;
}

.theMenu {
  border: 1px solid black;
  height: 75vh;
  display: flex;
  flex-direction: row;
}

.theMenu,
.tipOfTheWeek {
  background-color: #d2e2b6b9;
}
.leftContainer {
  border: 1px solid black;
  width: 50%;
}
.dinner,
.breakfast,
.drinks,
.dessert {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.leftDinner,
.leftBreakfast,
.leftDrinks,
.leftDessert {
  width: 20%;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.leftDinner h2 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}
.leftBreakfast h3,
.leftDrinks h3,
.leftDessert h3 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
}

.rightDinner {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.rightBreakfast,
.rightDrinks,
.rightDessert {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday {
  border: 1px solid black;
  height: auto;
  text-align: center;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.monday label,
.tuesday label,
.wednesday label,
.thursday label,
.friday label,
.saturday label {
  font-weight: bold;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.breakfast,
.drinks,
.dessert {
  height: 33%;
  border: 1px solid black;
}
.tipOfTheWeek {
  border: 1px solid black;
  max-height: 25%;
}
.tipOfTheWeek h2 {
  text-align: center;
}
.theRecipes {
  border: 1px solid black;
}
.theRecipes h1,
.theRecipes h2,
.theRecipes h4 {
  text-align: center;
}

/* GROCERY LIST */

.groceryList {
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
}

.gl_mealsList,
.gl_shoppingList {
  border: 1px solid black;
}

.gl_shoppingList button {
  background-color: #d0e1a8;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.gl_shoppingList button:hover {
  background-color: #d0e1a8;
}

@media print {
  button {
    display: none;
  }
}

.gl_meal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.groceryList h3 {
  margin: 0;
}
.groceryList li {
  font-weight: bold;
}

.groceryList h1,
.groceryList h3,
.gl_shoppingList h4,
.gl_mealsList h4,
.gl_mealsList h3 {
  text-align: center;
}
.protein div,
.produce div,
.dairy div,
.frozen div,
.pantry div {
  display: flex;
  flex-direction: row;
}
.protein p,
.produce p,
.dairy p,
.frozen p,
.pantry p {
  text-align: center;
}

.theRecipes,
.gl_information,
.gl_mealsList,
.gl_shoppingList {
  background-color: white;
}
