/* Colors */

/* #CDCFC0
#423F32
#F1EBE5
#000000 */

body {
  margin: 0;
  height: 100%;
  background-color: #cdcfc0;
  font-family: "Ysabeau", sans-serif;
}

#app,
#main {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar {
  background-color: #cdcfc0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
}

/* HOME */
#homeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.homeMealPlanDiv {
  border: 1px solid #423f32;
  width: 80%;
}
.homeMealPlanDiv h2,
.mealPlanDiv {
  text-align: center;
}
.homeContainer2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1ebe5;
  text-align: center;
  width: 90%;
  margin: 5px;
}
.homeContainer2 p {
  font-size: 20px;
}
.homeContainer2 h2 {
  text-align: center;
  font-size: 25px;
}
.homeContainer2 h3 {
  text-align: center;
}

.weeklyPlanImg img {
  width: 85%;
}
.weeklyPlanSubscription {
  height: 100%;
  width: 70%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
}
.weeklySubTop {
  padding: 3px;
  padding-top: 10px;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.weeklySubTop p {
  font-size: 20px;
}
.weeklyPlanLinks {
  overflow: auto;
}
.weeklyPlanLinks h2,
.weeklyPlanLinks h3 {
  margin: 0;
}
.lists {
  display: flex;
  flex-direction: row;
  height: 40%;
}
.listDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listDiv li {
  font-size: 20px;
}
#homeTopDiv,
#homeBottomDiv {
  width: 75%;
}

#homeTopDiv {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#homeBottomDiv {
  height: 55%;
  background-color: #f1ebe5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.homeFormDiv {
  background-color: #f1ebe5;
  width: 90%;
}

/* MEAL PLAN */
.mealPlanTitle {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
}
.mealPlanTitle div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mealPlanTitle h1,
.mealPlanTitle h4 {
  margin: 0;
}
.mealPlanImg {
  height: 150px;
}
.mealPlanImg img {
  height: 100%;
}

.theMenu {
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.theMenu,
.tipOfTheWeek {
  background-color: #d2e2b6b9;
}
.leftContainer {
  border: 1px solid black;
  width: 50%;
  padding: 5px;
}
.dinner,
.breakfast,
.drinks,
.dessert {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.leftDinner,
.leftBreakfast,
.leftDrinks,
.leftDessert {
  width: 20%;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.leftDinner h2 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}
.leftBreakfast h3,
.leftDrinks h3,
.leftDessert h3 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
  padding: 5px 0 5px 0;
}

.rightDinner {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.rightBreakfast,
.rightDrinks,
.rightDessert {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday {
  height: auto;
  text-align: center;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.monday label,
.tuesday label,
.wednesday label,
.thursday label,
.friday label,
.saturday label {
  font-weight: bold;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.breakfast,
.drinks,
.dessert {
  height: 33%;
  border: 1px solid black;
}
.tipOfTheWeek {
  border: 1px solid black;
  max-height: 25%;
  width: 100%;
}
.tipOfTheWeek h2 {
  text-align: center;
}
.theRecipes {
  border: 1px solid black;
}
.theRecipes h1,
.theRecipes h2,
.theRecipes h4 {
  text-align: center;
}

/* GROCERY LIST */

.groceryList {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
}

/* .gl_mealsList,
.gl_shoppingList {
  border: 1px solid black;
} */

.gl_shoppingList button {
  background-color: #d0e1a8;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.gl_shoppingList button:hover {
  background-color: #d0e1a8;
}

@media print {
  button {
    display: none;
  }
}

.gl_meal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.groceryList h3 {
  margin: 0;
}
.groceryList li {
  font-weight: bold;
}
.groceryList p {
  font-size: 20px;
}

.groceryList h1,
.groceryList h3,
.gl_shoppingList h4,
.gl_mealsList h4,
.gl_mealsList h3 {
  text-align: center;
}
.protein div,
.produce div,
.dairy div,
.frozen div,
.pantry div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.protein h4,
.produce h4,
.dairy h4,
.frozen h4,
.pantry h4 {
  font-size: 20px;
}

.gl_shoppingList div {
  width: 100%;
}
.protein p,
.produce p,
.dairy p,
.frozen p,
.pantry p {
  text-align: center;
}

.theRecipes,
.gl_information,
.gl_mealsList,
.gl_shoppingList,
.staples {
  background-color: white;
  width: 90%;
  margin: 5px;

  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gl_information ul {
  width: 50%;
}
.gl_information p {
  margin: 0;
}
.staples ul,
.gl_shoppingList ul {
  width: 70%;
}
